---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Import partials from `sass_dir` (defaults to `_sass`)
// Includes Bourbon, Neat, and Bitters (thanks, thoughtbot!)
@import
  "bourbon/bourbon",
  "base/base",
  "neat/neat",
  "layout"
;
figcaption {
  text-align: center;
}

blockquote::before{
  content: "\201C"; /*Unicode for Left Double Quote*/

  /*Font*/
  font-family: Georgia, serif;
	font-size: 80px;
  font-weight: bold;
  color: #999;
	margin: 0;
	padding: 0;

	position: absolute;
	top: -1.5rem;
	left: 1rem;
}

blockquote::after {
  content: "";
}

blockquote{
  display:block;
  background: #fff;
  padding: 1.5rem 1.5rem 1.5rem 4rem;
  margin: 0 0 20px;
  position: relative;

  /*Box Shadow - (Optional)*/
  -moz-box-shadow: 2px 2px 15px #ccc;
  -webkit-box-shadow: 2px 2px 15px #ccc;
  box-shadow: 2px 2px 15px #ccc;

  /*Borders - (Optional)*/
  border-left-style: solid;
  border-left-width: 15px;
  border-right-style: solid;
  border-right-width: 2px;

	border-color: $blue;
}
